{% extends 'global/base_generic.html' %}
{% block title %}Add Post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
<div class="form-group">
        {{ field.label_tag }}<br>

    {{field | safe  }}</div>
    {% endfor %}
    <input type="submit" value="Save" class="btn btn-primary btn-block">
</form>
</div>
{% else %}
<p>Please sign in to create posts.</p>
{% endif %}
{% endblock %}
